# created by virtualenv automatically
*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.vim
.idea
test_f.py
.coverage
coverage.xml
my_test_file.py
sw_templates.yaml
tests/my_tes.py
bar.py
foo.py
bazz.*
test-coverage-tool
github-actions-demo.yml
gendiff/gendiff.py
test_foo.py
my_test.py
my
my_test.py
.picasa.ini
page_loader/my_dir/my_module.py
/page_loader/my_dir/parse_zp.py
/page_loader/my_dir/my_mod1.py
/tests/fixtures/opop.html
/page_loader/my_dir/parse_leson_1.py
my_dir_parse
/tests/browser-info.htmlupgrade.html
/tests/browser-info.html
/browser-info.html
/page_loader/my_dir/123.py
/page_loader/my_dir/1234.py
my_dir
/tests/fixtures/browser-info.html
/browser-info.ru_files/browser-info-ru-assets-professions-nodejs.png
/browser-info.ru_files/browser-info-ru-images-articles-images-about-browser.png
/browser-info.ru_files/browser-info-ru-instruments-about-browser-images-browsers-chrome.png
/browser-info.ru_files/browser-info-ru-images-articles-images-0600286001480684459.png
/browser-info.ru_files/browser-info-ru-images-logo.png
/browser-info.ru_files/browser-info-ru-instruments-about-browser-images-preloader.gif
/gas159.github.io_files/gas159-github-io-gas159-github-io-files-gas159-github-io-images-poster.jpg
/gas159-github-io.html_files/gas159-github-io-html-gas159-github-io-files-gas159-github-io-images-poster.jpg
/gas159.github.io_files/gas159-github-io-images-poster.jpg
/page_loader.page_loader.log
/page_loader.requests_and_response.log
