# created by virtualenv automatically
*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.vim
.idea
test_f.py
.coverage
coverage.xml
my_test_file.py
sw_templates.yaml
tests/my_tes.py
bar.py
foo.py
bazz.*
test-coverage-tool
github-actions-demo.yml
gendiff/gendiff.py
test_foo.py
my_test.py
my
my_test.py
.picasa.ini
my_module.py
/tests/parse_zp.py
/tests/my_mod1.py
/tests/fixtures/opop.html
/tests/parse_leson_1.py
my_dir_parse
/tests/browser-info.htmlupgrade.html
/tests/browser-info.html
/browser-info.html
